@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html {
    min-height: 100%;
    background-color: lightslategray;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Gochi Hand', cursive;
}

#wrapper {
    min-height: 100%;
    position: relative;
    width: 99.3%;
}

header {
    height: 100px;
    border-bottom: 2px dashed black;
    min-width: 1550px;
	width:100%;
	position: fixed;
	background-color: white;
	z-index: 10;
	top: 0;
}

header img {
	height: 100px;
	float: left;
}

.mainContent {
    z-index: -1;
    padding: 16px;
    padding-bottom: 150px;
    min-width: 1300px;
    background-color: lightslategray;
    width: 99%;
}

.company_name {
    font-family: 'Gochi Hand', cursive;
    font-size: 48px;
    width: 500px;
    float: left;
    margin-left: 95px;
    margin-top: 40px;
    color: black;
}

nav {
    height: 55px;
    padding-top: 45px;
    float: right;
	overflow: hidden;
}

.hide {
	display: none;
}

nav li {
    display: inline-block;
    margin-right: 70px;
    list-style: none;
    position: relative;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gochi Hand', cursive;
    color: black;
    text-transform: uppercase;
}

nav li a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #7BAEBD;
    position: absolute;
    transition: all ease-in-out 250ms;
}

#cart:before {
    content: url('images/cartSmall.png');
    position: absolute;
    margin-left: 105%;
}

#account:before {
    content: url('images/account.png');
    position: absolute;
    margin-left: 105%;
}

#register:before {
    content: url('images/register.png');
    position: absolute;
    margin-left: 120%;
}

#package:before {
    content: url('images/computer.png');
    position: absolute;
    margin-left: 115%;
}

nav li a:hover::before {
    width: 100%;
}

nav span #name {
    color:cadetblue;
}

#welcome {
	background-color:#F9CB08;
	height: 15px;
	margin-top:110px;
	padding: 5px;
	border-radius: 5px;
	border: 1px groove black;
    width: 100%;
    min-width: 1400px;
}

.product_banner {
	max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 125px;
}

/* Slider */

.slider {
	padding-top:55px;
}

/*REVIEW SECTION*/

.reviewImgRight {
    float: left;
    width: 43%;
    text-align: end;
}

.left-Makereview {
    float: left;
    width: 50%;
}

.panel {
    float: left;
    width: 50%;
}

.packageImg {
	height: 340px;
	margin-top: 50px
}

.bottom-right {
	float: right;
	width: 100%;
	height:205px;
	position:relative;
}

.reviewTile
{
	width: 98%;
	min-height: 100px;
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	font-family: "gochi-hand", cursive;
	overflow: auto;
	position: relative;
}

.left-review {
    float: left;
    width: 70%;
}

.right-review {
	float: right;
	margin-right: 20px;
	text-align: center;
}





/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    font-family: "gochi-hand", cursive;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Product Grid */

.homeCategories {
    margin: 10px 0px 20px 0px;
    padding-bottom: 0;
}

    .homeCategories .productCatg {
        border-right: 1px solid #d4d4d4;
        float: left;
        text-align: center;
        width: 19.85%;
        height: 180px;
        position: relative;
    }

.productCatg a:hover {
	color: gray;
}

.productCatg a {
	text-decoration: none;
	font-family: 'Gochi Hand', cursive;
	color: black;
}

.smallDesc {
	text-align: left;
	margin-left: 5px;
}

.smallPrice {
    font-size: 17px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Gochi-Hand', cursive;
    color: crimson;
    position: absolute;
    bottom: 0;
}

.small-link {
    text-decoration: none;
    font-size: 10px;
    color: grey;
}

.small-link:hover {
    color: gold;
}

.homeCategories .last {
    border-right: none;
}

#homeCategoriesExtended .productCatg {
    background-color: #FFFFFF;
    padding-top: 10px;
    margin-bottom: 0px;
    border-top: 1px solid #d4d4d4;
}

.borderFullBox {
    background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    clear: both;
    padding: 10px;
    margin: 72px 0;
    width: 98%;
    height: 370px;
}

.largeProdTile {
    background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    clear: both;
    padding: 10px;
    margin: 125px 0;
    width: 98%;
    min-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wide-panel {
	float: left;
	width:72%;
	min-height: inherit;
	overflow: auto;
	padding: 5px;
}

.thin-panel {
	float: left;
	width:23%;
	min-height: inherit;
	overflow: auto;
	margin-left:20px;
	border-radius: 10px;
	padding:5px;
    position: relative;
}

.order-name {
	float:left;
	margin-left:30px;
	margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
	width: 80%;
}

.productOrder-name {
    margin-left: 25px;
    margin-left: 40px;
    padding-left: 85px;
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 20px;
    width: 55%;
}

.components {
	width: 60%;
	min-height: inherit;
	float: left;
	margin-left: 30px;
    font-size: 12px;
}

#submitOrderButton {
    position: absolute;
    bottom: 15px;
    right: 35px;
}

.align-right {
	text-align: right;
}

.small-right {
	float:right;
	position: absolute;
	bottom:5px;
	right:5px;
}

.order-tile {
	border-bottom: 1px dashed grey;
	border-top: 1px dashed grey;
	min-height: 200px;
	text-align: left;
	
}

.prodName {
	font-family: "gochi-hand", cursive;
	font-weight: bold;
	font-size: 26px;
	margin-left: 5px;
	margin-top: 15px;
    width: 150%;
}

.largeProdImg {
	
    height: 500px;
    width: 500px;
}

reviewText {
    height: 300px;
    width: 500px;
    position: absolute;
    transform: translate(-380px, -95px);
    z-index: 0;
}

.prodWrap {
	float: left;
    width: 55%;
}

.blurb {
	font-family: "gochi-hand", cursive;
	margin-top: 50px;
	margin-bottom: 30px
}

.contactWrap {
    margin-top: 75px;
}

.contact {
    width: 33%;
    font-family: "gochi-hand", cursive;
    text-align:center;
}

.contact-border {
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
}

.text-input {
    border-radius: 5px;
    background-color: lightblue;
    border: none;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "gochi-hand", cursive;
}

.text-input:focus {
    outline: none;
}

.box-input {
    border-radius: 5px;
    background-color: lightblue;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "gochi-hand", cursive;
}

.box-input:focus {
    outline: none;
}

#MainContent_Panel1 {
    margin-top: 30px;
    margin-left: 30px;
    font-family: "gochi-hand", cursive;
    float: left;
}

.btn-contact {
    font-family: "gochi-hand", cursive;
    font-size: 16px;
    font-weight: 300;
    line-height: 37px;
    padding: 5px 5px 5px;
    text-align: center;
    border: 1px solid #1c7ed9;
    border-radius: 6px;
    background: linear-gradient(to bottom, #0d3673, #065393, #0072b2, #0091cf, #12b2eb);
    min-width: 150px;
    text-shadow: -1px -1px 0 #000;
    text-decoration: none;
    color: #fff;
}

    .btn-contact:hover {
        color: #83b7db;
    }

#MainContent_addProductToCart {
    position: relative;
    float: right;
}

.medium-icon {
   height: 150px;
   width: 150px;
}

.sidePic {
    height: 350px;
    width: 387.5px;
    float: right;
    display: block;
    margin-top: 75px;
    margin-right: 75px;
}

.prodInfoWrap {
    float: left;
    margin-left: 15px;
    margin-top: 150px;
    height: 310px;
    width: 40%;
    position: relative;
}

.prodInfoWrapper {
    float: left;
    margin-left: 15px;
    margin-top: 150px;
    height: 400px;
    width: 40%;
    position: relative;
}

.reviewImg {
	height: 340px;
}

.btn-review {
    font-family: "gochi-hand", cursive;
    font-size: 16px;
    font-weight: 300;
    height: 20px;
    line-height: 37px;
    padding: 0 10px 15px;
    text-align: center;
    bottom: -178px;
    position: absolute;
    border: 1px solid #1c7ed9;
    border-radius: 6px;
    background: #83b7db;
    background: linear-gradient(to bottom, #0d3673, #065393, #0072b2, #0091cf, #12b2eb);
    min-width: 100px;
    text-shadow: -1px -1px 0 #000;
    text-decoration: none;
    color: #fff;
}

.reviewText {
    height: 300px;
    width: 500px;
    position: absolute;
    transform: translate(-300px, -95px);
}

.contact {
    float: left;
}

.prodPrice {
	font-family: "gochi-hand", cursive;
	font-size: 29px;
	color: crimson;
	width: 85px;
	bottom: 0px;
	right: 20px;
	position: absolute;
}
.prodkPrice {
	font-family: "gochi-hand", cursive;
	font-size: 29px;
	color: crimson;
	width: 85px;
	bottom: 90px;
	right: 70px;
	position: absolute;
}

.cartWrap {
	border-top: 1px dashed grey;
	width: 33%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 30px;
}

.comp-list {
	margin-top: 50px;
}

.cyan {
    color: darkcyan;
}

.quantity {
    position: absolute;
    right: 180px;
    top: 35px;
	width: 55%;
}

.btn-primary {
	font-family: "gochi-hand", cursive;
    font-size: 16px;
    font-weight: 300;
    height: 20px;
    line-height: 37px;
    padding: 0 10px 15px;
	text-align: center;
	right:30px;
	position: absolute;
    border: 1px solid #1c7ed9;
    border-radius: 6px;
    background: #83b7db;
	background: #83b7db;
    min-width: 100px;
    text-shadow: -1px -1px 0 #000;
	text-decoration: none;
	color: #fff;
    left: 170px;
}

.btn-customize {
	font-family: "gochi-hand", cursive;
    font-size: 16px;
    font-weight: 300;
    height: 20px;
    line-height: 37px;
    padding: 0 10px 15px;
	text-align: center;
	right:850px;
	position: absolute;
    border: 1px solid #1c7ed9;
    border-radius: 6px;
    background: #83b7db;
	background: linear-gradient(to bottom, #0d3673, #065393, #0072b2, #0091cf, #12b2eb);
    min-width: 100px;
    text-shadow: -1px -1px 0 #000;
	text-decoration: none;
	color: #fff;
}

#MainContent_addToCart {
    position: absolute;
    width: 120px;
    transform: translate(670px,-165px);
}

.btn-primary:hover {
	color: #80C4C9;
}

.prodSpecs {
	min-height: 100px;
	overflow: hidden;
	max-width: 980px;
  	margin: auto;
	background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 10px;
	margin-top:-120px
}

.prodSpecs h3 {
	text-align: center;
	margin-bottom:35px
}

.left-icons {
	width: 80px;
	margin-left: 40px;
	margin-top: 30px;
	float: left;
}

.cust-panel {
	float:left;
	border: 1px solid black;
	height: 750px;
	width:87%
}

.dashed-bottom {
	border-bottom: 1px dashed grey;
}

.semi-square {
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.cust-tile {
	
	margin-left: 30px
}

.cust-tile img {
	padding-bottom: 15px
}

.cust-list {
	transform: translateY(-50px);
	background: url(http://i2.cdn-image.com/__media__/pics/12471/arrow.png) no-repeat 97%;
    height: 36px;
    overflow: hidden;
    width: 340px;
	background-color: #3b8ec2;
	color: #fff;
	appearance: none;
	-moz-appearance: none;
	padding-left: 5px;
	outline: none;
}

/*This is to ensure longer product names do not flow over custom arrow*/
.fix-overflow {
    padding: 0 40px 0 15px !important;
    -webkit-padding-end: 40px !important;
    -webkit-padding-start: 10px !important;
}

/* This is to remove the arrow of select element in IE */
select::-ms-expand {
	display: none;
}

select{
    -webkit-appearance: none;
    appearance: none;
}



.cust-list select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;	
}

.cust-list:focus {
	background-color:#85B9DA
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.review {
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 100px;
    overflow: auto;
}

.reviewWrap {
	border-top: 1px dashed grey;
	width: 80%;
	height: 90px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 30px;
}

.reviewWrap img{
	margin-top: 5px;
	margin-bottom: 5px;
}

.reviewWrap a {
	bottom:0;
	right:0;
	text-decoration: none;
	color: darkcyan;
}

.reviewWrap a:hover {
	color: cadetblue;
}

.ratingWrap {
    width: 89%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ratingkWrap {
    width: 78%;
    position: absolute;
    bottom: 90px;
    right: 0px;
	border-bottom: 1px dashed grey;
}

.ratingkWrap a {
	text-decoration: none;
    color: darkcyan;
}

.ratingkWrap a:hover {
    color: cadetblue;
}

.ratingWrap a {
    text-decoration: none;
    color: darkcyan;
}

.ratingWrap a:hover {
    color: cadetblue;
}

.stars {
    height: 25px;
}

.rating {
    border: none;
    float: left;
    z-index: 10;
    position: absolute;
    margin-top: 10px;
    margin-left: -15px;
}


.move_rating {
    position: absolute;
    right: 215px;
    bottom: 225px;
}


    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > label {
        color: #ddd;
        float: right;
    }


    /*Highlight Stars on hover*/
    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
        /* hover previous stars in list */

        .rating > input:checked + label:hover,
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label,
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }

.prodReviewstest {
    min-height: 200px;
    overflow: hidden;
    max-width: 980px;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    font-family: 'Gochi Hand', cursive;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.terms {
    min-height: 500px;
    overflow: hidden;
    max-width: 980px;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 10px;
    margin-top: 50px;
    font-family: "gochi-hand", cursive;
}

.terms h1 {
    text-align: center;
}

footer {
	position:fixed;
 	bottom:0;
 	left:0;
	height: 45px;
	width: 100%;
	min-width: 1500px;
	padding: 15px;
	background-color: cadetblue;
	border: 1px dashed black;
	
}

footer li {
	display: inline-block;
    margin-right: 50px;
    list-style: none;
    position: relative;
}

footer li a {
    font-size: 15px;
    font-family: 'Gochi Hand', cursive;
    color: black;
    text-transform: uppercase;
}

footer li a:hover {
	color:silver
}

footer img {
	margin-left: 150px;
}

#footer_links {
	float:left;
}

#footer-icons {
	float: left;
	margin-top:10px;
	margin-left: 15%;
}

#footer-icons img {
	margin-left: 30px;
	display: inline;
}

.right {
    float: right;
}

#MainContent_addToCart {
    position: relative;
    right: -70px;
}

/*Authentication Specific CSS*/

.loginPanel {
    margin-left: 38%;
    margin-top: 20%;
}

div#MainContent_securityQuestionsPanel {
    position: absolute;
    left: 240px;
    bottom: 200px;
}

div#MainContent_passRecoveryPanel {
    position: absolute;
    bottom: 250px;
}

/*Registration Specific CSS*/

.left-labels {
    float: left;
    text-align: right;
}

.right-inputboxes {
    float: left;
}

.regLabel {
    margin-bottom: 2px;
}

.regInput {
    width: 400px;
    border-radius: 5px;
}

.register-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 15px;
    column-gap: 5px;
    margin-left: 70px;
    margin-top: 50px;
}
.register-grid label {
    text-align:right;
}

.reg-button {
    height: 50px;
}

.btn-register {
    font-family: "gochi-hand", cursive;
    font-size: 16px;
    font-weight: 300;
    height: 30px;
    line-height: 28px;
    padding: 0 10px 15px;
    text-align: center;
    bottom: 15px;
    left: 450px;
    position: absolute;
    border: 1px solid #1c7ed9;
    border-radius: 6px;
    background: #83b7db;
    background: linear-gradient(to bottom, #0d3673, #065393, #0072b2, #0091cf, #12b2eb);
    min-width: 100px;
    text-shadow: -1px -1px 0 #000;
    text-decoration: none;
    color: #fff;
}

    .btn-register:hover {
        color: #80C4C9;
    }